---
title: "My Projects"
layout: default
permalink: "/Projects.html"
---

<div class="container">
      
        <div class="row  justify-content-center align-items-center mb-5">
            <div class="col-12">
                <h2 class="font-weight-bold h1 text-secondary">{{page.title}} </h2>
                <p ><a href="https://github.com/Kim-Yeonsu0102" class="text-gray" target="_blank">https://github.com/Kim-Yeonsu0102</a></p>
                <p class="text-mutedh6 mt-2">{{ site.authors.master.bio }}</p>
            </div>
          
      
        <h4 class="font-weight-bold spanborder col-12 mt-5"><span>All My Projects!!</span></h4>
      <div class=" d-flex h-max-100 flex-wrap flex-raw justify-content-md-around justify-content-center ">
            {% assign posts = site.posts | where:"author","master" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}

       </div>
</div>
</div>

