---
title: "김연수 포트폴리오"
layout: default
pagination:
    enabled: true
description: "할 수 있다! 긍정에너지 김연수 입니다."
---

{% include indexAboutMe.html %}


{% include indexSkill02.html %}
 
<div class="container-fluid ">

 

<div class="row mt-5 justify-content-center  ">
  
  <div class="col-10 d-flex h-max-100 flex-wrap flex-raw justify-content-md-around justify-content-center ">
    <h4 class="font-weight-bold spanborder col-12 mt-5"><span>All My Projects!!</span></h4>

        {% for post in paginator.posts %}
        
            {% include main-loop-card.html %}
        
        {% endfor %}
      
     
      </div> 

            <div class=" col-md-10 col-12">
              {% include sidebar-featured.html %}    
            </div>
  

</div>
</div>
{% include Contact.html %}  