
<div class="row mt-md-5 mt-0 justify-content-center align-items-center align-content-start flex-md-row flex-column flex-wrap">
  <div class="col-12 no-gutters d-flex justify-content-center align-items-center">
    <div class="col-md-10 col-10">
      <ul class="accordion-menu w-100">
        <li>
          <div class="dropdownlink">
            <i class="fa fa-road" aria-hidden="true"></i> Q.김연수라는 사람은?

            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>

          <ul class="submenuItems">
            <li>
              <span><b>전공: </b>미술/ 디자인 / 게임 원화</span>
            </li>

            <li>
              <span><b>이전 경력:</b> 게임 배경 및 UI 디자이너를 하다 28살 국비지원 프로그램으로 웹 개발을 배운뒤 29살 웹 퍼블리셔로 전직 했습니다!</span>
            </li>

            <li>
              <span><b>나이:</b> 현재 33세 (28살에 개발 공부 시작)​</span>
            </li>
            <li><span>파워 예체능계여서 코딩에 대한 막연한 두려움이 있었습니다.. 내가 이걸 할 수 있을까.. 하지만 결국 머리속에 그려진 그림을 옮겨내는 과정은 똑같더라구요. 오히려 더 흥미를 느끼고 깊게 파고 들게 되었습니다!​</span></li>
          </ul>
        </li>

        <li>
          <div class="dropdownlink">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Q.개발자로써의 경력

            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>

          <ul class="submenuItems">
            <li><span>2020.06.14 ~ 2021.06.17 </span></li>

            <li><span>(주)바른웹 . (주)애드윈코리아미디어센터 </span></li>
            <li><span>총 두개의 회사를 거쳤습니다. 합쳐서 3년 반 정도 일 했습니다.</span></li>
            <li><span>(주)애드윈- 회사에서는 저의 리더쉽을 좋게 봐주셔서 개발팀의 리더를 맡겨 주셨습니다. </span></li>
            <li><span>주로 기존 틀이 있고 그 위로 수정 및 추가하는 작업이 위주였습니다. 전문적인 JS, React 같은 프로젝트를 접할 기회는 없었습니다.</span></li>
          </ul>
        </li>
        <li>
          <div class="dropdownlink">
            <i class="fa fa-quote-left" aria-hidden="true"></i>Q.어떤 식으로 공부했는지?

            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>

          <ul class="submenuItems">
            <li>
              <span>(<b>독학</b> vs. 국비지원 vs. 부트캠프)</span>
            </li>

            <li>
              <span> 저는 <b>독학</b>으로 공부했습니다.</span>
            </li>

            <li><span>시작은 국비지원 수업이었지만 해당 수업은 디자인과 기초적인 마크업 코딩의 기본이었고 그 외 JS 및 기타 언어는 오로지 인터넷으로 배우고 혼자 예제를 익혀가며 공부했습니다.</span></li>

            <li>
              <span
                >1. 인터넷 강의 듣기(주로 유튜브)<br />
                2. 인강에 나오는 실습 코딩 따라 해보기<br />
                3. 해당 강의에서 배운 걸 토대로 내가 만들고 싶은 거 코딩하기 (응용)</span
              >
            </li>
            <li><span>이 과정을 반복했습니다. 제 사이트에 올라온 프로젝트들은 이런식으로 응용된 제 작품입니다 :D</span></li>
          </ul>
        </li>

        <li>
          <div class="dropdownlink">
            <i class="fa fa-motorcycle" aria-hidden="true"></i> Q.스스로의 장점

            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>

          <ul class="submenuItems">
            <li>
              <span><b>집중력과 책임감</b> 저는 어느 일이 주어지면 그 일을 마무리 지을 때까지 집중 합니다.</span>
            </li>

            <li>
              <span><b>궁금증은 반드시 풀어야 하는 성격</b> 이해가 될 때까지 반드시 정답을 찾아내는 집요한 스타일입니다. </span>
            </li>

            <li>
              <span><b>유머러스하고 밝은 성격</b> 밝고 둥글둥글한 성격이라는 칭찬을 자주 듣습니다. ENTP의 외향인 성격으로 회사 동료들과도 늘 즐겁게 지냅니다.</span>
            </li>
          </ul>
        </li>

        <li>
          <div class="dropdownlink">
            <i class="fa fa-motorcycle" aria-hidden="true"></i> Q.앞으로의 비전

            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>

          <ul class="submenuItems">
            <li>
              <span><b>부족한 개발언어 공부</b> 스스로 부족한 부분이 뭔지 알기 때문에 그 부분을 중심으로 더욱 깊이 공부 할 것입니다.</span>
            </li>
            <li>
              <span><b>SEO</b>에 대한 이해와 최적화를 위해 노력할 것입니다. </span>
            </li>
            <li>
              <span><b>투룸 이상의 전셋집</b> 으로 이사가고 싶습니다.</span>
            </li>
            <li>
              <span><b>필라테스</b>를 다녀볼까 합니다.</span>
            </li>
            <li>
              <span><b>하여튼 열심히 살 예정입니다!!!</b></span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="/assets/accordion-menu/main.js"></script>


<script>


Accordion.prototype.dropdown = function (e) {
        var $el = e.data.el,
          $this = $(this),
          //ul submenuItems
          $next = $this.next();
        $next.slideToggle();
        $this.parent().toggleClass("open");
        if (!e.data.multiple) {
          //Show Only one Menu at the same time
          $el.find(".submenuItems").not($next).slideUp().parent().removeClass("open");
        }
      };
      //Set Object

      var accordion = new Accordion($(".accordion-menu"), false);

      if ($(".submenuItems").css() == "display: block;") {
        console.log("hi");
        $(".dropdownlink").addClass("navShine");
      }









</script>



