
  
  <div class="secTitArea">
  
  <p class="sec-title m-sec-title pdtb justify-content-center">Plz,Contact Me!!</p>
 
   
  
  </div>

<div id="ContactArea" name="Contact">
    

  
  <div class=" container-fluid skillsec col-8 d-flex justify-content-center no-gutters">


<div class="col-12 d-flex justify-content-center align-content-center no-gutters flex-nowrap">

<form action="https://formspree.io/{{site.email}}" method="POST" class="col-md-8 col-12">    
<p class="mb-4 text-white phonNum">010-9563-9872</p>
<div class="form-group d-flex flex-xl-row flex-lg-row flex-md-row flex-column justify-content-center ">
<div class="no-gutters col-xl-6 col-lg-6 col-md-6 col-12 mr-1  pt-1 ">
<input class="form-control" type="text" name="name" placeholder="Name*" required>
</div>
<div class="no-gutters col-xl-6 col-lg-6 col-md-6 col-12 mr-1 pt-1 ">
<input class="form-control" type="email" name="_replyto" placeholder="E-mail Address*" required>
</div>
</div>
<textarea class="form-control col-12 mb-3" name="message" placeholder="Message*" required></textarea>    
<input class="btn btn-cyan text-white col-xl-6 col-lg-6 col-md-6 col-12 pb-1" type="submit" value="Send">
</form>
</div>


</div>
</div>