<link rel="stylesheet" href="../assets/css/particle.css" />

<div class="slide" id="AboutMeArea">
  <div class="no-gutters d-flex justify-content-center align-items-center" id="AboutMe-area">
    <div class="page-bg"></div>

    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>

    <div class="aboutArea d-flex justify-content-between no-gutters col-10">
      <div class="col-lg-5 col-md-5 col-sm-12 p-0 aboutPic pdtb">
        <figure class="snip1477">
          <svg id="universeMe" class="pulse d-none" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
          </svg>

          <img src="assets/images/earth.png" alt="Kim Yeon su" />

          <div class="title">
            <div>
              <h6>Yes,Click Me!</h6>
              <h5>Kim Yeon Su</h5>
            </div>
          </div>
          <figcaption>
            <span class="large material-icons"> rocket_launch </span>
            <p>프론트 엔드를 꿈꾸는 긍정파워 김연수 입니다!</p>
          </figcaption>
          <a href="{{site.baseurl}}/AboutME.html"></a>
        </figure>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 aboutMe shine02">
        <h1 id="typing"></h1>
        <p class="aboutTxt pt-2 pl-md-4">
          ㅡ </p>

          <p class="aboutTxt pt-2 pl-md-4">
          안되면 되게하라!<br />
          디자인을 전공 했기 때문에<br> 
          다른 팀과의 협업을 잘 이끌어 나가며<br> 
          창의적으로 다른 시각에서<br> 
          볼 줄 아는 개발자 김연수 입니다! 
        </p>
      </div>
    </div>
  </div>
</div>

<script>


$('.aboutPic').mouseleave(function(){

let $indexAct = $("#index").attr("index-area", name).hasClass("active");  
let $clickE = $("#universeMe").hasClass("d-none");

if ($clickE) {
  console.log("hey")
  $("#universeMe").removeClass("d-none");
} else if (!$clickE && !$indexAct) {
  $("#universeMe").addClass("d-none");
}else if(!$clickE && $indexAct){
  $("#universeMe").addClass("d-none");
} else {
}

});


  var typing = document.getElementById("typing");
  var typewriter = new Typewriter(typing, {
    loop: true,
  });

  typewriter
    .typeString("우리는")
    .pauseFor(500)
    .typeString("<br/>")
    .typeString("가장 완벽한")
    .pauseFor(500)
    .typeString("<br/>")
    .typeString("코드를 찾을 것이다..")
    .pauseFor(1500)
    .deleteAll()
    .typeString("<br/>")
    .typeString("늘 그래왔듯이..")
    .pauseFor(1500)
    .deleteAll()
    //.typeString('<br/>')
    .typeString("안녕하세요.")
    .pauseFor(1000)
    .typeString("<br/>")
    .typeString("프론트엔드를 꿈꾸는")
    .pauseFor(1000)
    .typeString("<br/>")
    .typeString("김연수 입니다.")
    .pauseFor(4000)
    .start();







</script>
