<link rel="stylesheet" href="../assets/css/particle.css" />

<div class="slide">
  <div
    class="no-gutters d-flex justify-content-center align-items-center"
    id="AboutMe-area"
  >
    <div class="page-bg"></div>

    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>

    <div class="aboutArea d-flex justify-content-between no-gutters col-10">
      <div class="col-lg-5 col-md-5 col-sm-12 p-0 aboutPic pdtb">
        <figure class="snip1477">
          <img src="/assets/images/earth.png" alt="Kim Yeon su" />
          <div class="title">
            <div>
              <h6>Yes, Click Me!</h6>
              <h5>Kim Yeon Su</h5>
            </div>
          </div>
          <figcaption>
            <span class="large material-icons">
              rocket_launch
              </span>
            <p>프론트 엔드를 꿈꾸는 긍정파워 김연수 입니다!</p>
          </figcaption>
          <a href="/AboutMe.html"></a>
        </figure>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 aboutMe">
        <h1>우린 방법을 찾을 것이다.<br />늘 그래왔듯이..</h1>
        <p class="aboutTxt">
          안되면 되게하라<br>
          디자인을 전공 한 웹 개발자 김연수 입니다.</p>
      </div>
    </div>
  </div>
</div>
