

<div class="container-fluid no-gutters" id="AboutMe-area">

  <div class="aboutArea d-flex justify-content-between no-gutters ">
      <div class="col-lg-5  col-md-5 col-sm-12 p-0 aboutPic pdtb" >	
      <img src="/assets/images/YeonsuProfile.jpg" alt="Kim Yeon su">
  </div>
<div class="col-lg-7 col-md-7 col-sm-12 aboutMe">                
              <h1>우리는 답을 찾을 것이다. 늘 그랬듯이</h1>
              <p class="aboutTxt">
                  디자인을 전공 한 웹 개발 3년차 개발자 김연수 입니다.<br>
                  전공을 살려 소비자가 보기에 Interactive 하지만 안정적인 사이트를 구축합니다.
              </p>

              <a href="/AboutMe.html" class="btn mt-4">About Me</a>
          </div></div>   
  
</div> 
