


  <div class="sectionBar d-flex justify-content-center no-gutters flex-raw flex-wrap align-items-center col-12  ">


    <p class="sec-title m-sec-title col-xl-5 col-lg-5 col-md-6 col-12 ">My Skill List</p>
    <p class="sec-text offset-1  col-xl-5 col-lg-6 col-md-6 col-11 flex-column align-items-center text-md-left text-center">

      <span class="col-12"><i class="material-icons">web</i>SEO를 생각하는 Semantic MarkUp </span>

      <span class="col-12"><i class="material-icons">devices</i> Bootstrap, Media Query를 이용한 반응형 웹 개발 </span>

      <span class="col-12"> <i class="material-icons">integration_instructions</i> JS,Jquery, React를 사용한 DOM 객체의 제어 </span>

      <span class="col-12"> <i class="material-icons">dns</i> API를 통한 기능성 있는 페이지 개발 </span>

    </p>
 
  </div>

  <div id="skillSection">


  <div class="container-fluid skillsec ">


    <ul class=" d-flex justify-content-center no-gutters flex-column flex-nowrap align-items-center">

      <li class="d-flex flex-row align-items-center justify-content-between offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12 ">

        <div class="col-9 no-gutters noCodeLang">
        </div>
        <span class="codeLang col-lg-3 col-md-3 col-sm-12 col-12">
          #Language
        </span>

      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
      
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          HTML5
          <i class="fab fa-html5" style="color:#ff9800"></i>
        </span>
      
      
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:80%;"></div>
            <div class="progress-value"><span>80</span>%</div>
          </div>

        </div>
      
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          CSS
          <i class="fab fa-css3" style="color:#2196f3"></i>
        </span>
       
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:90%;"></div>
            <div class="progress-value"><span>90</span>%</div>
          </div>

        </div>
     
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          Sass
          <i class="fab fa-sass" style="color:#f321a9"></i>

        </span>
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:70%;"></div>
            <div class="progress-value"><span>70</span>%</div>
          </div>

        </div>
        
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
       
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          JavaScript
          <i class="fab fa-js" style="color:#ffca28"></i>
        </span>
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:70%;"></div>
            <div class="progress-value"><span>70</span>%</div>
          </div>

        </div>
        
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          Jquery

        </span>
       
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:80%;"></div>
            <div class="progress-value"><span>80</span>%</div>
          </div>

        </div>
       
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          node.Js
          <i class="fab fa-node-js" style="color:#8bc34a"></i>
        </span>
        
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:50%;"></div>
            <div class="progress-value"><span>50</span>%</div>
          </div>

        </div>
        
      </li>
      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          React
          <i class="fab fa-react" style="color:#2196f3"></i>
        </span>
        
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:40%;"></div>
            <div class="progress-value"><span>40</span>%</div>
          </div>

        </div>
       
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          Git
          <i class="fab fa-git" style="color:#a11c1c"></i>
        </span>
        
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width:60%;"></div>
            <div class="progress-value"><span>60</span>%</div>
          </div>

        </div>
        
      </li>


    </ul>


    <ul class=" d-flex justify-content-center no-gutters flex-column flex-nowrap align-items-center ">

      <li class="d-flex flex-row align-items-center justify-content-between offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12 ">

        <div class="col-9 no-gutters noCodeLang">
        </div>
        <span class="codeLang02 col-lg-3 col-md-3 col-sm-12 col-12">
          #Design
        </span>

      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          Photoshop
          <i class="fas fa-palette" style="color:#5a4eff;"></i>
        </span>
        
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar02" style="width:100%;"></div>
            <div class="progress-value"><span>100</span>%</div>
          </div>

        </div>
      
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          Illustrator
          <i class="fas fa-bezier-curve" style="color:#c78972"></i>
        </span>
       
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar02" style="width:60%;"></div>
            <div class="progress-value"><span>70</span>%</div>
          </div>

        </div>
       
      </li>

      <li class="d-flex flex-row align-items-center justify-content-between offset-1 offset-xl-1 col-lg-10 offset-md-1 col-md-10 col-12">
        <span class="chartTit col-lg-3 col-md-4 col-sm-3 col-3  ">
          Adobe XD
          <i class="fas fa-object-group" style="color:#f321a9"></i>

        </span>
       
        <div class="progress-outer offset-lg-1 col-lg-8 col-md-8 col-sm-9 col-9 no-gutters">

          <div class="progress">
            <div class="progress-bar02" style="width:60%;"></div>
            <div class="progress-value"><span>60</span>%</div>
          </div>

        </div>
       
      </li>


    </ul>


  </div>
</div>

</div>




<style>
  .progress-outer {
    background: #fff;
    padding: 1px 0;
    border: 3px solid #868189;
    border-radius: 20px;

    position: relative;
    width: 100%;
  }

  .progress {
    background: #888;
    border-radius: 20px;
    margin: 0;
  }

  .progress .progress-bar {
    border-radius: 20px;
    box-shadow: none;
    animation: animate-positive 2s;
    background: linear-gradient(90deg, #d5d5d5, #e4b6cb, #3f51b5);
  }

  .progress .progress-bar02 {
    border-radius: 20px;
    box-shadow: none;
    animation: animate-positive 2s;
    background: linear-gradient(90deg, #d5d5d5, #e4b6cb, #58b647);
  }

  .progress .progress-value {
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: -1px;
    right: 10px;
  }

  @keyframes animate-positive {
    0% {
      width: 0;
    }
  }

</style>



<script>
  let percent = $(".center").text();

  $(document).ready(function () {



    $('.progress-value > span').each(function () {
      $(this).prop('Counter', 0).animate({
        Counter: $(this).text()
      }, {
        duration: 1500,
        easing: 'swing',
        step: function (now) {
          $(this).text(Math.ceil(now));
        }
      });
    });























  });
</script>
