
<section class="Q-section">
  <div class="meMain row no-gutters justify-content-center align-content-center align-items-center">
    <div class="background-img col-12 no-gutters d-flex">
      <div class="box d-flex col-10">
        <span class="boxSpan"></span>
        <span class="boxSpan"></span>
        <span class="boxSpan"></span>
        <span class="boxSpan"></span>
        <div class="content d-flex flex-wrap justify-content-center align-items-center text-left">
          <div id="typing02" class="col-md-10 col-12 text-md-left text-center"></div>
          <a href="#" class="btn btn-round btn-outline-salmon col-md-2 col-6 pl-md-2 mt-2 mb-3 resumeBtn">Resume Down Link</a>
          <p class="col-12">
            <a>
              디자인을 전공 한 웹 퍼블리싱 3년차 개발자 김연수 입니다.<br />
              전공을 살려 소비자가 보기에 Interactive 하지만 안정적인 사이트를 구축합니다.<br />
              개발에 대한 비전공자였기 때문에 <b>코딩을 전혀 모르는 팀과의 협업</b>에도 무리없이 프로젝트 진행이 가능합니다.<br /><br />
              <b>웹 에이전시 회사</b>에서 수많은 직종의 업체 홈페이지를 구축하며 얻은 데이터로 <b>클라이언트의 Needs 파악</b>을 잘 할 수 있으며 돌아오는 수정양을 최소화 합니다.<br /><br />
              <b>웹 개발팀이 처음 신설된 바로 전 회사에 팀 리더로 입사하게 되어 팀을 꾸리고 업무를 진행했습니다.</b><br />
              입사 후 처음 한 일은 개발팀 이외에도 각 팀과의 업무 효율성을 최대로 증가시키기 위해 체계를 정립하는 것이었습니다.<br />
              작게는 파일 네이밍의 규칙화에서 크게는 클라이언트와의 대응시 각 팀이 해야할 레퍼런스 제시까지
              <b>결과적으로 회사는 월 매출 7천만원대에서 2억원까지 상승</b>하게 되었습니다.<br /><br />
              리더로써 팀원들의 디벨롭을 위해 꾸준하게 과제를 냈고 그 결과 팀 전체적으로 속도와 퀄리티가 오르게 되어
              <b>한 달에 총 15개 내외로 제작하던 사이트 양을 약 두 배 가량 제작</b> 할 수 있게 되었습니다.<br /><br />
              현재는 퇴사후 저 자신의 디벨롭을 위해 좀 더 깊이있게 개발 언어를 공부하고 부족했던 javasript를 중심으로 다시 한 번 HTML과 CSS, Sass를 공부 했습니다.<br /><br />
              그러면서 개발에 더욱 더 흥미를 느끼고 스스로 부족함을 느끼는 React와 Vue.js도 공부 중에 있습니다. <br /><br />
              저의 가장 큰 장점은 포기하지 않고 방법을 찾아낸다는 것입니다.<br />
              <b>앞으로도 업무나 프로젝트 중 벽에 가로 막히더라도 어떻게든 방법을 찾아 해결해 낼 수 있는 개발자가 되겠습니다.</b><br />
              앞으로 나아가는 꿈을 쫓는 우주인 김연수 였습니다.<br />
              감사합니다.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
