

<div class="mb-3 d-flex justify-content-between main-loop-card flex-column col-3 flex-wrap projextCard pl-1 pr-1">
	<div class=" row col-12 no-gutters">
		{% if post.image %}
		<div class="col-12 pr-0 text-right mb-1 ">
		<a href="{{site.baseurl}}{{post.url}}">
		<div class="w-100 cardImg" style="background:url({% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}")" alt="{{ post.title }}"></div>
		</a>
		</div>
	{% endif %}

<div class="col-xl-12 col-lg-12 col-md-12 col-12 pl-2 pr-2">
	<h2 class="mb-1 h6 font-weight-bold">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
	<p class="excerpt">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 100}}
	</p>
	<small class="d-block text-muted small">
		In <span class="catlist">
		{% for category in post.categories %}
		<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | truncate: 8 }}</a><span class="sep">, </span>
		{% endfor %}
		</span>
	</small>
	<!-- <small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small> -->
</div>


</div></div>
