

<div id="loopCard" class="mb-3 d-flex justify-content-center main-loop-card flex-column 
col-md-5 col-10 flex-wrap projextCard no-gutters " >
	<div class=" col-12 pl-1 pr-1 projectCard">
		{% if post.image %}
		<div class="effect-wrap col-12 pr-0 pl-0 text-right mb-1 ">

		
				<figure class="effect7">				
					<a href="{{site.baseurl}}{{post.url}}" class="text-white d-block w-100 h250">
					<div class="w-100 h250 cardImg " style="background:url({% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %} )top no-repeat ;background-size: cover;" alt="{{ post.title }}"></div>
					<figcaption>
						<h3>Kim YS Projects</h3>
						{% for category in post.categories %}
						<p>	{{ category | truncate: 6 }}</p>
						{% endfor %}

						<span href="{{site.baseurl}}{{post.url}}" class="btn btn-purple">Click!</span>
					
					</figcaption>			
				</a>		
				</figure>
		

		</div>
	{% endif %}

<div class="col-xl-12 col-lg-12 col-md-12 col-12 pl-2 pr-2 d-flex align-items-center justify-content-center flex-column flex-nowrap d-flex projectTitArea  ">
	<h2 class="mb-3 mt-2 font-weight-bold text-center col-12 projectTit ">
	<a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
		 
	<p class="small text-left col-11 no-gutters"> {{ post.codeLanguage | truncate: 500 }} </p>
	<p class="small text-left pt-1 col-11 no-gutters">	 {{ post.myjob | truncate: 500 }} </p>
		
	
		 
	<!-- <small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small> -->
</div>


</div>
</div>


