<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html" id="index" target="_self">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/Skill.html" id="Skill" target="_self">Skill</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/AboutMe.html" id="AboutMe" target="_self">AboutMe</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/Projects.html" id="Projects" target="_self">Projects</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/Contact.html" id="Contact" target="_self">Contact</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/Hobby.html" target="_self" >Hobby</a>
</li>

