<div id="featuredArea" class=" no-gutters  flex-column pt-5 col-12 ">
    <h3 class="font-weight-bold spanborder"><span>Featured</span></h3>  


    <div class="d-flex flex-row ">
    <ol class="list-featured col-md-6 col-12 ml-md-4">				
                
            <li class="mb-4">
            <span>
                <h5 class="font-weight-nomal text-lightPurple">
                  SEO에 관해 좀 더 깊이 연구하겠습니다             
                </h5>
                <span class="d-block text-muted">
                   
                    <span class="text-capitalize text-muted smoothscroll" >최적의 마크업을 위해 더욱 노력 하겠습니다.</span>
                    
                    </span>
                </span>
            </span>
            </li>
            <li class="mb-4">
                <span>
                    <h5 class="font-weight-nomal text-lightPurple">
                      React에 관한 좀 더 깊이있는 공부와 Develop              
                    </h5>
                    <span class="d-block text-muted">
                       
                        <span class="text-capitalize text-muted smoothscroll" >브레이크 없는 8톤 트럭처럭 저는 달립니다.</span>
                        
                        </span>
                    </span>
                </span>
                </li>  
                <li class="mb-4">
                    <span>
                        <h5 class="font-weight-nomal text-lightPurple">
                          기본에 충실하자.깔끔한 코드를 추구함             
                        </h5>
                        <span class="d-block text-muted">
                           
                            <span class="text-capitalize text-muted smoothscroll" >저는 반드시 최고의 방법을 찾을 겁니다.</span>
                            
                            </span>
                        </span>
                    </span>
                    </li>  
                    <li class="mb-4">
                        <span>
                            <h5 class="font-weight-nomal text-lightPurple">
                              긍정 에너지 뿜뿜                 
                            </h5>
                            <span class="d-block text-muted">
                               
                                <span class="text-capitalize text-muted smoothscroll" >할 수 있다는 마인드를 잃지 않습니다.</span>
                                
                                </span>
                            </span>
                        </span>
                        </li>  
                        <li class="mb-4">
                            <span>
                                <h5 class="font-weight-nomal text-lightPurple">
                                  개발에 재미를 잃지말자                
                                </h5>
                                <span class="d-block text-muted">
                                   
                                    <span class="text-capitalize text-muted smoothscroll" >코딩이!!너무 재밌습니다!!!</span>
                                    
                                    </span>
                                </span>
                            </span>
                            </li>                  
       
    </ol>
    <p class="ml-md-2 col-md-5 d-md-flex d-none no-gutters banner"></p>
    
</div>
</div> 