.pdtb{
padding:3rem 0;
}

.sec-title {
  font-size: 3.5rem;
  text-align: center;  
  padding: 1rem 0;
  font-family: var(--titleFont);
  background: var(--titleColor);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} 








/*슬라이드*/
.slide{width:100%;height:640px;overflow:hidden;}
    .slide ul{position:relative;height:100%;}
    .slide li{position:absolute;left:0;right:0;top:0;bottom:0;}

    .slide li:nth-child(1){background:#ffa;}
    .slide li:nth-child(2){background:#faa;}
    .slide li:nth-child(3){background:#afa;}
    .slide li:nth-child(4){background:#aaf;}
     /* 100 / 8 = 12.5 */



/*자기소개 sec*/

#AboutMe-area{
  width:100%;
  background-color: var(--light);
}
.aboutArea {
 
  min-height: 400px;  
  align-items: center;
  
}
.aboutArea .aboutPic {
  margin: 2rem 0 1rem;
  text-align: center;
}
.aboutArea img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.aboutArea .aboutMe {
  padding: 0 1rem;
}
.aboutMe h1  {
  font-size: 1.8rem;
  padding: 1rem 0;
  background: var(--titleColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--titleFont);
}

.chartTit{
  font-size: 1rem;
  padding: 1rem 0;
  background: var(--titleColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--titleFont);
}

.aboutArea .aboutMe a {
  background: var(--gray);
  color: #fff;
  transition: 0.5s;
}
.aboutArea .aboutMe a:hover {
  background: var(--titleColor);
}


/*스킬 리스트*/

.skillsec {
text-align: center;
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

  
.skillsec .skill{
  /* background: var(--lightblue); */
  padding:0.8rem;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.chart1{
  height: 100px;
    width: 100px;
    display: block;
    animation-iteration-count: 1;
  
}











/* 미디어쿼리 분기점  */

@media (max-width: 767px) {

  .pdtb{
    padding:1.5rem 0;
    }
    
    .sec-title {
      font-size: 2rem;}





  #AboutMe-area .aboutArea {
    flex-wrap: wrap;
  }
  #AboutMe-area .aboutArea .aboutPic {
    border-radius: 10px;
  }

  #AboutMe-area .aboutArea .aboutMe {
    text-align: center;
    padding: 2rem 0;
  }
 h1 {
    padding: 0.5rem 0;
    font-size: 2rem;
  }
}
