---
layout: default
---

{% assign author = site.authors[page.author] %}
<div class="container" id="MyProjextArea">
  <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative border-bottom-2-puple">
    <div class="h-100 tofront">
      <div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
        <div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
          <p class="text-uppercase font-weight-bold">
            <span class="catlist">
              {% for category in page.categories %}
              <a class="sscroll text-danger" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | downcase }}</a><span class="sep">, </span>
              {% endfor %}
            </span>
          </p>
          <h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
          <div class="d-flex align-items-center">
            <img class="rounded-circle" src="/assets/images/earth.png" alt="{{author.name}}" width="90" />

            <small class="ml-3">
              {{ author.name }}
              <span class="text-muted d-block mt-1">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</span>
            </small>
          </div>
        </div>
        {% if page.image %}
        <div class="col-md-6 pr-0 align-self-center"><img class="rounded" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}"></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-4 pb-4 no-gutters ">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10 ">
			{{ content }}		
    </div>
			
		<div class="text-center">
			<a href="/Projects.html" class="fixed-bottom col-1 backBTN">Back</a>
		</div>
  </div>
</div>




<script>
	
		$(window).scroll(function() {
        
        
        let scrolltop = $(document).scrollTop();
        console.log(scrolltop);
        let height = $(document).height();
        console.log(height);
        let height_win = $(window).height();
        console.log(height_win);
        
        
     if (Math.round( $(window).scrollTop()) == $(document).height() - $(window).height()) {
        
        $('.backBTN').css('bottom','70px')
        
    }  else{
			$('.backBTN').css('bottom','0')
		}

		});


</script>